# Port aplikasi (Opsional, Default: 3000)
PORT=8080

# Interval sinkronisasi data dari MikroTik ke Gateway dalam menit (Opsional, Default: 5)
FETCH_INTERVAL_MINUTES=5

# Toleransi perbedaan bandwidth (Opsional, Default: 0.05 / 5%)
# Format: 0.05 = 5%, 0.1 = 10%
TOLERANCE_PERCENTAGE=0.05

# URL API Database Gateway 
DB_GATEWAY_API_URL="https://transit.is5x.example.com/nis-db-gateway/bandwidth/search"

# Token akses Database Gateway
DB_GATEWAY_API_TOKEN="<MASUKKAN_TOKEN_GATEWAY_DI_SINI>"
